In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('train.csv')
df

,num,date_time,y,t,w,h,r,s,cooling,sun_e
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
122395,60,2020-08-24 19,4114.368,27.8,2.3,68.0,0.0,0.7,1.0,1.0
122396,60,2020-08-24 20,3975.696,27.3,1.2,71.0,0.0,0.0,1.0,1.0
122397,60,2020-08-24 21,3572.208,27.3,1.8,71.0,0.0,0.0,1.0,1.0
122398,60,2020-08-24 22,3299.184,27.1,1.8,74.0,0.0,0.0,1.0,1.0
122399,60,2020-08-24 23,3204.576,27.1,2.6,75.0,0.0,0.0,1.0,1.0

In [24]:
df.max()

num                       60
date_time      2020-08-24 23
y                  17739.225
t                       36.3
w                       20.1
h                      100.0
r                       81.5
s                        1.0
cooling                  1.0
sun_e                    1.0
day_of_year              237
day_of_week                6
weekday                    1
dtype: object

In [25]:
df.min()

num                        1
date_time      2020-06-01 00
y                        0.0
t                       11.1
w                        0.0
h                       19.0
r                        0.0
s                        0.0
cooling                  0.0
sun_e                    0.0
day_of_year              153
day_of_week                0
weekday                    0
dtype: object

In [26]:
df.median()

num              30.500
y              1700.352
t                24.200
w                 1.900
h                84.000
r                 0.000
s                 0.000
cooling           1.000
sun_e             0.000
day_of_year     195.000
day_of_week       3.000
weekday           1.000
dtype: float64

In [21]:
from datetime import datetime
# date
dow_dic={}
for i,day in enumerate(["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]):
    dow_dic[day]=i

# 1. day of year
df['day_of_year'] = df.date_time.apply(lambda x: int(datetime.strptime(x, '%Y-%m-%d %H').strftime('%j')))
df['day_of_week'] = df.date_time.apply(lambda x: dow_dic[datetime.strptime(x, '%Y-%m-%d %H').strftime('%A')])
df['weekday']= df.day_of_week.apply(lambda x: 0 if x in [6,5] else 1)
df['hour'] =

In [23]:
df.head(100)

,num,date_time,y,t,w,h,r,s,cooling,sun_e,day_of_year,day_of_week,weekday
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0,153,0,1
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0,153,0,1
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0,153,0,1
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0,153,0,1
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0,153,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,2020-06-04 23,8604.144,19.9,1.4,91.0,0.0,0.0,0.0,0.0,156,3,1
96,1,2020-06-05 00,8598.960,19.7,2.0,90.0,0.0,0.0,0.0,0.0,157,4,1
97,1,2020-06-05 01,8573.040,19.5,1.4,90.0,0.0,0.0,0.0,0.0,157,4,1
98,1,2020-06-05 02,8561.376,19.3,1.6,90.0,0.0,0.0,0.0,0.0,157,4,1
99,1,2020-06-05 03,8549.064,19.3,1.6,90.0,0.0,0.0,0.0,0.0,157,4,1

In [28]:
test = pd.read_csv('test.csv')
test.interpolate(method='values', inplace=True)
test

,num,date_time,t,w,h,r,s,cooling,sun_e
0,1,2020-08-25 00,27.800000,1.500000,74.000000,0.0,0.000000,NaN,NaN
1,1,2020-08-25 01,27.633333,1.366667,75.333333,0.0,0.000000,NaN,NaN
2,1,2020-08-25 02,27.466667,1.233333,76.666667,0.0,0.000000,NaN,NaN
3,1,2020-08-25 03,27.300000,1.100000,78.000000,0.0,0.000000,NaN,NaN
4,1,2020-08-25 04,26.900000,1.166667,79.666667,0.0,0.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...
10075,60,2020-08-31 19,28.633333,3.566667,66.000000,0.0,0.533333,1.0,1.0
10076,60,2020-08-31 20,28.266667,3.833333,67.000000,0.0,0.266667,1.0,1.0
10077,60,2020-08-31 21,27.900000,4.100000,68.000000,0.0,0.000000,1.0,1.0
10078,60,2020-08-31 22,27.900000,4.100000,68.000000,0.0,0.000000,1.0,1.0
10079,60,2020-08-31 23,27.900000,4.100000,68.000000,0.0,0.000000,1.0,1.0